{{extend 'layout.html'}}

<center><h3>Admin Details</h3></center>
<div id='adminpage' style='width:100%'>
    <table border='5px' style="width:100%" class="table table-bordered table-hover">
    <thead>
    <tr>
         <th style="text-align:center">Name</th>
         <th style="text-align:center">Email-ID</th>
    </tr>
    </thead>
    {{for admin in adminList:}}
    <tr>
	<td style="text-align:center">{{=admin['ad_name']}}</td>
	<td style="text-align:center"><a href="mailto:{{=admin['ad_emailid']}}">{{=admin['ad_emailid']}}</a></td>
    </tr>
    {{pass}}
    </table>
</div>
	
